@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: white;
}

.navbar_logo {
  font-size: 24px;
  color: darkblue;
  cursor: pointer;
  font-weight: 600;
  padding: 0 18px;
}

.navbar_list {
  padding: 0px 18px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.navbar_list-item {
  cursor: pointer;
}

.navbar_list-item:hover {
  color: darkgray;
}

.navbar_button {
  display: none;
}

.layout {
  padding-top: 52px;
}

@media only screen and (max-width: 600px) {
  .navbar-mobile {
    position: fixed;
    width: 100%;
    top: 52px;
    background: darkblue;
    color: white;
    height: 100vh;
  }
  .navbar_list {
    display: none;
  }
  .navbar_list-item-mobile {
    cursor: pointer;
  }

  .navbar_list-item-mobile:hover {
    color: darkgray;
  }

  .navbar_list-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 18px;
    align-items: start;
  }

  .navbar_button {
    display: block;
    padding: 0px 18px;
    cursor: pointer;
  }
}
